body {
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100vh;
}

.login-box {
    width: 500px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont-box{
    padding: 0px 80px;
}

img{
    background: no-repeat center center/cover;
    margin-bottom: 40px;
}

.login-box h1 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
}

.login-box p a {
    color: #BB0000;
    text-decoration: none;
    font-weight: 700;
}

p {
    color: #212B36;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 30px;
}

.login-box input[type="text"],
.login-box input[type="email"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

.login-box input[type="text"]:focus,
.login-box input[type="email"]:focus,
.login-box input[type="password"]:focus {
    border-color: #212B36;
    outline: none;
}

.login-box input[type="text"]:hover,
.login-box input[type="email"]:hover,
.login-box input[type="password"]:hover {
    border-color: #212B36;
    outline: none;
}

.login-box input[type="text"]:focus::placeholder,
.login-box input[type="email"]:focus::placeholder,
.login-box input[type="password"]:focus::placeholder {
    color: #212B36;
}

.login-box form p a{
    color: #212B36;
    font-weight: 500;
    text-align: end;
    font-style: italic;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #212B36;
    border: none;
    color: #fff;
    font-weight: 700;
    text-align: start;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.login-box button:hover{
    background-color: rgb(69, 79, 91);
}

.image-box {
    flex: 1;
    background: url('../images/condo_login.jpg') no-repeat center center/cover;
}

@media (max-width: 768px) {
    .login-box{
        background: url('../images/condo_login.jpg') no-repeat center center/cover;
    }

    .cont-box {
        padding: 20px 20px;
        margin: 10px 20px;
        background-color: #fbfbfbde;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
}
